* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    margin-bottom: 0.33rem;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 1rem 3rem;
    margin-bottom: 3rem;
    background-color: #7D84B2;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header h1, .header p {
    color: #D9DBF1;
}

.header img {
    width: 50px;
    height: 100%;
    margin: auto 0;
}

header input {
    background-color: #383D5E;
    font-size: 16px;
    color: #D9DBF1;
    border-radius: 20px;
    padding: 0.5rem 0.7rem;
    border: 1px solid #7D84B2;
}

header input::placeholder {
    color: #babccf;
}

header input:focus, header input:active {
    outline: none;
}

.cards {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 4rem 2rem;
}

.card {
    width: max-content;
    width: 375px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #4B5381;
    background-color: #D9DBF1;
    color: #230903;
    transition: background-color 0.5s, color 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card .content {
    padding: 0.5rem 1rem;
}

.moviethumbnail {
    background-position: top;
    background-size: cover;
    border-radius: 9px 9px 0 0;
    width: 100%;
    height: 150px;
    transition: background-position 1s;
}

.card .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card .tag {
    padding: 0.33rem 0.5rem;
    border-radius: 10px;
    width: max-content;
}

.card .genre {
    color: #D9DBF1;
    font-weight: bold;
}

.card .duration, .card .agerating {
    background-color: #A6C7E6;
    font-weight: bold;
}

.card .heading {
    margin: 0.5rem 0;
}

.card .heading img {
    width: 20px;
    margin-right: 5px;
}

.card .heading div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .heading > p {
    font-size: 13px;
}

.card .description{
    height: 95px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2px;
}

.card .description::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}
.card .description::-webkit-scrollbar-thumb { /* Foreground */
    background: #A6C7E6;
    border-radius: 10px;
    border: 2px solid #7D84B2; 
}
.card .description::-webkit-scrollbar-track { /* Background */
    background: #7D84B2;
    border-radius: 10px;
}

.card .cast {
    list-style-position: inside;
    margin: 1rem 0;
}

.card .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card .links img {
    margin-top: 0.5rem;
    width: 40px;
}

.errormsg {
    color: #D9DBF1;
    font-size: 20px;
    display: none;
}

@media only screen and (max-width: 1200px) {
    h1{
        font-size: 20px;
    }
}

@media only screen and (max-width: 660px) {
    header {
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        margin: 0 2rem;
    }
}